.coverrun
.c9/
.coverdata/
node_modules
npm-debug.log
bower_components/
node_modules/
debug/
reports/
/.idea
*.bak
test/*.js
test/*.d.ts
/dist/
/test/temp/
/test/res/
/.eslintignore
/tsconfig.esm.json.tpl
/.eslintrc.json.tpl
/.browserslistrc
/tsconfig.tsbuildinfo
/.nvmrc
/test/
