# Created by .ignore support plugin (hsz.mobi)
/test/
/.idea/
*.old
#/package-lock.json
/bin/epub-extract.d.ts
### temp template
/~*
~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

/*.log
/*.lock

*.tmp### npm2 template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

tsconfig.json
#package-lock.json

test

.github
.gitkeep

/.*

test
tests

.github
.gitkeep

/.*

/~*

__test__
__tests__

/node_modules/
**/node_modules/### test template
*.spec.ts
*.spec.js
*.spec.js.map
*.test.ts
*.test.js
*.test.js.map### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
