@charset "UTF-8";
@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

ol ul, ul ol, ul ul, ol ol {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

section
{
	margin: auto;
	-webkit-column-break-before: avoid;
}

:root
{

}

body, html
{
	text-align: justify;
	/*
	background-color: rgb(255, 255, 245);
	*/
	-webkit-column-break-before: avoid;
}

html
{
	margin: 0px;
	padding: 0px;

	-webkit-text-stroke: 0.6px;
}

body
{
	margin: 0px;
	padding: 10pt;
}

a
{
	text-decoration: none;
}

.list_none, #toc ol
{
	margin: auto;
	padding: 0px;
}

.list_none ol, #toc ol ol
{
	margin-left: auto;
	padding-left: 2em;
}

.list_none, .list_none *, .list_none li, .list_none ol, #toc *
{
	list-style: none;
}

ol ol
{
	margin-bottom: 0.5em;
}

p
{ min-height: 1.35em; }

body[lang*=zh], html[lang*=zh], section[lang*=zh]
{
	font-family: Consolas, Noto Sans CJK JP, Noto Sans CJK SC, Noto Sans CJK TC, Noto Sans JP, Noto Sans SC, Noto Sans TC, Noto Sans CJK, Microsoft Yahei UI, sans-serif;
	line-height: 1.45em;
	line-height: 1.6em;
	-webkit-text-stroke: 0.6px;
	-webkit-text-stroke: 0.6px;
	text-shadow: 0 0.5px 0 rgba(228, 228, 228, 0.8), 0 0 1px rgba(0, 0, 0, 0.75);
}

[epub|type*='frontmatter']
{
	padding: 0;
}

body[epub-type*='frontmatter']
{
	padding: 0;
}

[epub|type*='bodymatter']
{
	padding: 0.5em 1em;
}

body[epub-type*='bodymatter']
{
	padding: 0.5em 1em;
}

section[epub-type*="chapter"]
{
	padding: 0.5em 1.5em 0.5em 1em;
}

section[lang*=zh] p
{ min-height: 1.6em; }

div, p
{
	margin: auto;
	padding: 0px;
}

.divimage
{
	page-break-after: always;
}

.cover
{
	width: 100%;
	padding: 0px;
}

.center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.left
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.right
{
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}

.quote
{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 1em;
	margin-right: 1em;
	text-align: justify;
}

.hidden
{
	display: none;
}

h1
{
	line-height: 130%;
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
}

h2
{
	line-height: 130%;
	text-align: center;
	font-weight: bold;
	font-size: x-large;
}

h3
{
	line-height: 130%;
	text-align: center;
	font-weight: bold;
	font-size: large;
}

h4
{
	line-height: 130%;
	text-align: center;
	font-weight: bold;
	font-size: medium;
}

h5
{
	line-height: 130%;
	text-align: center;
	font-weight: bold;
	font-size: small;
}

h6
{
	line-height: 130%;
	text-align: center;
	font-weight: bold;
	font-size: x-small;
}

.vertical-container
{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.fullpage
{
	height: 100%;
}

figure
{
	margin-before: 0;
	margin-after: 0;
	margin-start: 0;
	margin-end: 0;
}

figure.fullpage
{
	max-height: 90%;
	height: 90%;
	margin: 0;
	padding: 0;
	display: block;

	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

figure:before
{ content: ''; display: inline-block; vertical-align: middle; height: 100%; }

figure img
{
	max-height: 95%;
	margin: auto;
	padding: 0;
}

p.linegroup, .calibre1, .softbreak
{ display: block; }

.linegroup, p, .softbreak, .calibre1
{ margin: auto; }

.linegroup:before, p:before, .calibre1:before, .softbreak:before
{ content: ''; display: inline-block; }

#toc li, #toc ol, #toc ul
{
	text-align: left;
}

.page-break-before
{
	page-break-before:always;
}

.page-break-after
{
	page-break-after: always;
}

.page-break-all
{
	page-break-before:always;
	page-break-after: always;
}

header h2
{
	margin-top: 0.1em;
	margin-before: 0.1em;
	-webkit-margin-before: 0.1em;
}

.chapter-header-001
{
	padding-bottom: 0.1em;
}

.chapter-header-001 > h2
{
	text-align: left;
	padding-bottom: 0.1em;
	border-bottom: 0.1em solid #000;
	border-bottom: 0.1em solid currentColor;
	margin-after: 0.3em;
	margin-bottom: 0.3em;
	-webkit-margin-after: 0.3em;
	font-size: large;
}
